<p id="notice"><%= notice %></p>

<p>
  <b>Noofclick:</b>
  <%= @pdf_download.noofclick %>
</p>


<%= link_to 'Edit', edit_pdf_download_path(@pdf_download) %> |
<%= link_to 'Back', pdf_downloads_path %>
