<p id="notice"><%= notice %></p>

<p>
  <b>Imageurl:</b>
  <%= @author_image.imageurl %>
</p>


<%= link_to 'Edit', edit_author_image_path(@author_image) %> |
<%= link_to 'Back', author_images_path %>
